<div class="grid">
			<div class="box">
				<div class="box-hd">
					<h2>Colors</h2>
				</div>
				<div class="box-bd">
					<div class="row">
						<div class="cell ratio1"> 
							<div class="box-color darkGray">
								darkGray 
							</div>
							#333333
						</div>
						<div class="cell ratio1">
							<div class="box-color gray">
								gray
							</div>
							#b9b9b9
						</div>
						<div class="cell ratio1">
							<div class="box-color lightGray">
								lightGray
							</div>
						</div>
						<div class="cell ratio1">
							<div class="box-color red">
								red
							</div>
							#f86363
						</div>
						<div class="cell ratio1">
							<div class="box-color blue">
								blue
							</div>
							#1122cc		
						</div>
						<div class="cell ratio1">
							<div class="box-color green">
								green
							</div>
							#14cc47
						</div>
						<div class="cell ratio1">
							<div class="box-color lightGreen">
								lightGreen
							</div>
							#bfe6ca
						</div>
						<div class="cell ratio1">
							<div class="box-color yellow">
								yellow
							</div>
							#fefddc	
						</div>
					</div>
				</div>
			</div>