<div class="box">
				<div class="box-hd">
					<h2>Drag and drop</h2>
				</div>
				<div class="box-bd">

<div class="sortable ui-sortable" id="propertiesZone">
		        <fieldset>
					<div class="row">
						<div class="cell">
							<div class="_dragHandle" data-icon=""></div>
						</div>
						<div class="cell ratio1">
							<div class="cell-content">
					    		<label for="content_type_properties_attributes_0_title">Title</label>
					    		<div class="cell-fill">
						   			<input id="content_type_properties_attributes_0_title" name="content_type[properties_attributes][0][title]" type="text" value="dedos">
						   			<input class="_dragIndex" id="content_type_properties_attributes_0_position" name="content_type[properties_attributes][0][position]" type="hidden" value="0">
						   		</div>
						    </div>
					    </div>

					    <div class="cell ratio1">
					    	<div class="cell-content">
					    		<label for="content_type_properties_attributes_0_content_type_id">Content type</label>
				    			<div class="cell-fill">
				    				<select id="content_type_properties_attributes_0_content_type_id" name="content_type[properties_attributes][0][content_type_id]"><option value="14">text</option>
									<option value="15">memo</option>
									<option selected="selected" value="16">image</option>
									<option value="17">html5</option>
									<option value="18">bool</option>
									<option value="19">int</option>
									<option value="20">date</option>
									<option value="21">time</option>
									<option value="22">list</option>
									<option value="33">markdown</option></select>
				    	 		</div>
					   		</div>
	   						</div>

						    <div class="cell">
						    	<div class="cell-content">
						    		<input id="content_type_properties_attributes_0__destroy" name="content_type[properties_attributes][0][_destroy]" type="hidden" value="false">
						    		<a class="_removeFields" data-icon="" href="#"></a>
						    	</div>
						    </div>
					 	</div>
</fieldset>
<input id="content_type_properties_attributes_0_id" name="content_type[properties_attributes][0][id]" type="hidden" value="28" style="">
        <fieldset>
	<div class="row">
		<div class="cell">
			<div class="_dragHandle" data-icon=""></div>
		</div>
		<div class="cell ratio1">
			<div class="cell-content">
	    		<label for="content_type_properties_attributes_1_title">Title</label>
	    		<div class="cell-fill">
		   			<input id="content_type_properties_attributes_1_title" name="content_type[properties_attributes][1][title]" type="text" value="de profil">
		   			<input class="_dragIndex" id="content_type_properties_attributes_1_position" name="content_type[properties_attributes][1][position]" type="hidden" value="1">
		   		</div>
		    </div>
	    </div>

	    <div class="cell ratio1">
	    	<div class="cell-content">
	    		<label for="content_type_properties_attributes_1_content_type_id">Content type</label>
    			<div class="cell-fill">
    				<select id="content_type_properties_attributes_1_content_type_id" name="content_type[properties_attributes][1][content_type_id]"><option selected="selected" value="14">text</option>
<option value="15">memo</option>
<option value="16">image</option>
<option value="17">html5</option>
<option value="18">bool</option>
<option value="19">int</option>
<option value="20">date</option>
<option value="21">time</option>
<option value="22">list</option>
<option value="33">markdown</option></select>
    	 		</div>
	   		</div>
	   	</div>

	    <div class="cell">
	    	<div class="cell-content">
	    		<input id="content_type_properties_attributes_1__destroy" name="content_type[properties_attributes][1][_destroy]" type="hidden" value="false">
	    		<a class="_removeFields" data-icon="" href="#"></a>
	    	</div>
	    </div>
 	</div>
</fieldset>
<input id="content_type_properties_attributes_1_id" name="content_type[properties_attributes][1][id]" type="hidden" value="30" style="">
        <fieldset>
	<div class="row">
		<div class="cell">
			<div class="_dragHandle" data-icon=""></div>
		</div>
		<div class="cell ratio1">
			<div class="cell-content">
	    		<label for="content_type_properties_attributes_2_title">Title</label>
	    		<div class="cell-fill">
		   			<input id="content_type_properties_attributes_2_title" name="content_type[properties_attributes][2][title]" type="text" value="deface">
		   			<input class="_dragIndex" id="content_type_properties_attributes_2_position" name="content_type[properties_attributes][2][position]" type="hidden" value="2">
		   		</div>
		    </div>
	    </div>

	    <div class="cell ratio1">
	    	<div class="cell-content">
	    		<label for="content_type_properties_attributes_2_content_type_id">Content type</label>
    			<div class="cell-fill">
    				<select id="content_type_properties_attributes_2_content_type_id" name="content_type[properties_attributes][2][content_type_id]"><option value="14">text</option>
<option value="15">memo</option>
<option selected="selected" value="16">image</option>
<option value="17">html5</option>
<option value="18">bool</option>
<option value="19">int</option>
<option value="20">date</option>
<option value="21">time</option>
<option value="22">list</option>
<option value="33">markdown</option></select>
    	 		</div>
	   		</div>
	   	</div>

	    <div class="cell">
	    	<div class="cell-content">
	    		<input id="content_type_properties_attributes_2__destroy" name="content_type[properties_attributes][2][_destroy]" type="hidden" value="false">
	    		<a class="_removeFields" data-icon="" href="#"></a>
	    	</div>
	    </div>
 	</div>
</fieldset>
<input id="content_type_properties_attributes_2_id" name="content_type[properties_attributes][2][id]" type="hidden" value="23" style=""></div>

		</div>
			</div>			
