<style>
	.grid .icon [data-icon] {
		font-size: 2.5rem;
		margin-bottom: 1.375rem;
	}

	.grid .icon .cell {
		text-align: center;
		padding: 1.375rem;

	}
</style>

<div class="box">
	<div class="box-hd">
		<h2>Icons</h2>
	</div>
	<div class="box-bd">
		<div class="grid icon">
			<h2>Fonts contentbird</h2>
			<div class="row" style="flex-wrap: wrap ">
				<div class="cell">
					<div data-icon="&#xe015;"></div>
					<div><strong>[&#x]e015;</strong></div>
					<div>Hide options</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe00d;"></div>
					<div><strong>[&#x]00d;</strong></div>
					<div>Show options</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe018;"></div>
					<div><strong>[&#x]e018;</strong></div>
					<div>Expand navs</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe017;"></div>
					<div><strong>[&#x]e017;</strong></div>
					<div>Close nav</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe007;"></div>
					<div><strong>[&#x]e007;</strong></div>
					<div>Twitter</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe006;"></div>
					<div><strong>[&#x]e006;</strong></div>
					<div>Linkedin</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe012;"></div>
					<div><strong>[&#x]e012;</strong></div>
					<div>Account</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe014;"></div>
					<div><strong>[&#x]e014;</strong></div>
					<div>Contents</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe015;"></div>
					<div><strong>[&#x]e015;</strong></div>
					<div>Menu hide</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe00d;"></div>
					<div><strong>[&#x]e00d;</strong></div>
					<div>Menu show</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe000;"></div>
					<div><strong>[&#x]e000;</strong></div>
					<div>Drag and drop</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe002;"></div>
					<div><strong>[&#x]e002;</strong></div>
					<div>Facebook</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe001;"></div>
					<div><strong>[&#x]e001;</strong></div>
					<div>Add</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe00e;"></div>
					<div><strong>[&#x]e00e;</strong></div>
					<div>Add forms</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe003;"></div>
					<div><strong>[&#x]e003;</strong></div>
					<div>Google</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe004;"></div>
					<div><strong>[&#x]e004;</strong></div>
					<div>Pinterest</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe005;"></div>
					<div><strong>[&#x]e005;</strong></div>
					<div>Tumblr</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe00a;"></div>
					<div><strong>[&#x]e00a;</strong></div>
					<div>Validate</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe00b;"></div>
					<div><strong>[&#x]e00b;</strong></div>
					<div>Delete</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe00f;"></div>
					<div><strong>[&#x]e00f;</strong></div>
					<div>Trash</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe010;"></div>
					<div><strong>[&#x]e010;</strong></div>
					<div>Channels</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe011;"></div>
					<div><strong>[&#x]e011;</strong></div>
					<div>Menu +</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe008;"></div>
					<div><strong>[&#x]e008;</strong></div>
					<div>Viadeo</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe009;"></div>
					<div><strong>[&#x]e009;</strong></div>
					<div>Menu</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe016;"></div>
					<div><strong>[&#x]e016;</strong></div>
					<div>Content types</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe600;"></div>
					<div><strong>[&#x]e600;</strong></div>
					<div>Twitter</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe601;"></div>
					<div><strong>[&#x]e601;</strong></div>
					<div>Cloud</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe602;"></div>
					<div><strong>[&#x]e602;</strong></div>
					<div>Spinner</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe603;"></div>
					<div><strong>[&#x]e603;</strong></div>
					<div>Cards</div>
				</div>
				<div class="cell">
					<div data-icon="&#xe604;"></div>
					<div><strong>[&#x]e604;</strong></div>
					<div>Lists</div>
				</div>
			</div>
			<div class="row">
				<div class="cell">
					<h2>Fonts contentbirdme</h2>
					<div data-icon="&#xe009;"></div>
					<div><strong>[&#x]e009;</strong></div>
					<div>Lists</div>
				</div>
			</div>
		</div>
	</div>
</div>			