<div class="box">
	<div class="box-bd">
		<div class="row cb-type-img_gal cb-prop-photos" >
			<ul>
				<li class="image-container">
					<figure>
						<div class="image-content" style="background-image: url(http://images.apple.com/euro/ipad/d/generic/life-on-ipad/images/nav_vintage_bg_2x.jpg); padding-bottom: 30px"></div>
						<figcaption class="figcaption">Légende</figcaption>
					</figure>
				</li>
				<li class="image-container">
					<figure>
						<div class="image-content" style="background-image: url(http://cbdev-ctn-img.s3-external-3.amazonaws.com/3/d31acbf47903b5fcbc7d70c4048045a2/1239.jpg);"></div>
						<figcaption class="figcaption">Légende</figcaption>
					</figure>
				</li>
				<li class="image-container">
					<figure>
						<div class="image-content" style="background-image: url(http://cbdev-ctn-img.s3-external-3.amazonaws.com/3/f555a2dd086fe2610431ece762ba9936/poke.jpg);"></div>
					</figure>
				</li>
				<li class="image-container">
					<figure>
						<div class="image-content" style="background-image: url(http://cbdev-ctn-img.s3-external-3.amazonaws.com/3/f555a2dd086fe2610431ece762ba9936/poke.jpg);"></div>
					</figure>
				</li>
				<li class="image-container">
					<figure>
						<div class="image-content" style="background-image: url(http://cbdev-ctn-img.s3-external-3.amazonaws.com/3/f555a2dd086fe2610431ece762ba9936/poke.jpg);"></div>
					</figure>
				</li>
			</ul>
		</div>
	</div>
</div>