<div class="box">
	<div class="box-hd">
		<h2 id="rows">Rows, cells & subrows</h2>
	</div>
	<div class="box-bd">
		Row & cell : 
		<div class="row">
			<div class="cell ratio1 red">
				Cell ratio 1 
			</div>
			<div class="cell ratio1 blue">
				Cell ratio 1 
			</div>
			<div class="cell ratio1 green">
				Cell ratio 1 
			</div>
		</div>
		<div class="row">
			<div class="cell ratio1 red">
				Cell ratio 1 
			</div>
			<div class="cell ratio2 blue">
				Cell ratio 2 
			</div>
			<div class="cell ratio1 green">
				Cell ratio 1 
			</div>
		</div>
		<div class="row">
			<div class="cell ratio1 red">
				Cell ratio 1 
			</div>
			<div class="cell ratio1 blue">
				Cell ratio 1
			</div>
			<div class="cell ratio3 green">
				Cell ratio 3 
			</div>
		</div>
		Grid, row, cell & subrow: 
		<div class="grid _withOptions">
			<div class="row sub-with-row">
				<div class="cell ratio1">
					Cell ratio 1 
				</div>
				<div class="cell ratio1">
					Cell ratio 1 
				</div>
				<div class="cell ratio1">
					<a href="#" class="butn optionsHide" data-icon="&#xe015;">Hide options</a>
                    <a href="#" class="butn optionsShow" data-icon="&#xe00d;">Show options</a>
				</div>
			</div>
			<div class="optionsPanel sub-row">
				Cell ratio 1 
			</div>
		</div>
	</div>
</div>