<div class="box">
	<div id="headings" class="box-hd">
		<h2>Headings</h2>
	</div>
	<div class="box-bd">
		<h1>Very loooooooooooooooooooooooooooong title</h1>
		<h2>Very loooooooooooooooooooooooooooong title</h2>
		<h3>Very loooooooooooooooooooooooooooong title</h3>
		<h4>Very loooooooooooooooooooooooooooong title</h4>
		<h5>Very loooooooooooooooooooooooooooong title</h5>
		<h6>Very loooooooooooooooooooooooooooong title</h6>
	</div>
</div>