<div class="box">
	<div class="box-hd">
		<h2 id="links">Links</h2>
	</div>
	<div class="box-bd">
		<%= link_to "link", "" %><br />
		<%= link_to "link", "" %><br />
		<%= link_to "link", "" %><br />
	</div>
</div>