<div class="box">
	<div class="box-hd">
		<h2 id="navigations">Navigations</h2>
	</div>
	<div class="box-bd">
		<nav>
			<ul>
				<li>Nav item1</li>
				<li>Nav item2</li>
				<li>Nav item3</li>
				<li>Nav item4</li>
				<li>Nav item5</li>
			</ul>
		</nav>
	</div>
</div>