<nav>
	<ul>
		<li><a href="#headings">Headings</a></li>
		<li><a href="#feedbacks">Feedbacks</a></li>
		<li><a href="#buttons">Buttons</a></li>
		<li><a href="#forms">Forms</a></li>
		<li><a href="#text">Texts</a></li>
		<li><a href="#paragraph">Paragraphs</a></li>
		<li><a href="#lists">Lists</a></li>
		<li><a href="#grids">Grids</a></li>
		<li><a href="#navs">Navigations</a></li>
		<li><a href="#links">Links</a></li>
		<li><a href="#forms">Forms</a></li>
	</ul>
</nav>