<div class="box">
	<div class="box-hd">
		<h2 id="texts">Texts</h2>
	</div>
	<div class="box-bd">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, natus, dicta, ullam est a non enim accusantium quas exercitationem soluta explicabo aliquid laborum officiis quaerat odit consequuntur temporibus iure architecto!
		<br />
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, nam, quo, similique, ducimus illum laudantium eaque architecto omnis error soluta vel voluptatum veritatis deleniti labore beatae maiores cumque illo odio!
	</div>
</div>