<section>
	<article class="box narrow cTxt">
		<header class="box-hd">
			<h1 class="cTxt">We believe a digital world only makes sense if it protects the freedom of the people.</h1>
		</header>
		<p>
			We build simple and ethical tools empowering everyone<br /> to enjoy the internet to the max, without compromising their privacy.
		</p>

		<p>
			Our software is an alternative for sharing your content on the social networks, without giving it away.
		</p>
		<div class="sep"></div>
		<h2 class="cTxt">Who we are</h2>
		<%= image_tag ("about/team.jpg"), class: 'team' %>
		<p>We are designers and developpers living in Paris, France.<br />
		We love designing and crafting software together.</p>
		<p>After 3 years working as a team, we wanted more freedom<br /> and the opportunity to create software aligned with our shared values.</p>
		<p>ContentBird is our first co-creation. We hope you will find it useful.</p>
		<p>Keep us informed ! :)<br />
			Sébastien, Adrien et Nicolas
		</p>
	</article>
</section>