<section>
	<article class="box narrow cTxt">
		<header class="box-hd">
			<h1 class="cTxt">Un monde numérique n'a de sens <br /> que s'il protège la liberté des personnes.</h1>
		</header>
		<p>
			Nous construisons des outils simples et éthiques<br /> qui permettent à chacun d'utiliser Internet à pleine puissance, sans compromis sur leur vie privée.
		</p>

		<p>
			Notre logiciel est une alternative pour partager vos données sur les réseaux sociaux, sans les donner.
		</p>
		<div class="sep"></div>
		<h2 class="cTxt">Qui sommes-nous ?</h2>
		<%= image_tag ("about/team.jpg"), class: 'team' %>
		<p>Nous sommes designers et developpeurs habitant à Paris, France. <br />
		Nous aimons concevoir et réaliser des logiciels ensemble.</p>
		<p>Après 3 ans de travail en équipe, nous voulions plus de liberté <br />et la possibilité de fabriquer des logiciels alignés avec nos convictions.</p>
		<p>ContentBird est notre première co-réalisation en ce sens. Nous espérons qu'il vous sera utile.</p>
		<p>Tenez-nous au courant ! :)<br />
			Sébastien, Adrien et Nicolas
		</p>
	</article>
</section>