<section>
    <div class="header-img team"></div>
    <article class="box narrow cTxt">
        <header class="box-hd">
            <h1>About ContentBird</h1>
        </header>

        <h2>We believe a digital world only makes sense if it protects the freedom of the people.</h2>

        <p>
            We build simple and ethical tools empowering everyone to enjoy the internet to the max, without compromising their privacy.
        </p>

        <p>
            Our software is an alternative for sharing your content on the social networks, without giving it away.
        </p>

        <h2>Who we are</h2>
        <p>Sébastien, Adrien, Nicolas : We are designers and developpers living in Paris, France.<br />
        We love designing and crafting software together.
        </p>
        <p>After 3 years working as a team, we wanted more freedom and the opportunity to create software aligned with our shared values.</p>
        <p>ContentBird is our first co-creation. We hope you will find it useful.</p>
        <p>Keep us informed ! :)</p>
        <br />

        <i>Sébastien, Adrien and Nicolas</i>
    </article>
</section>