<% admin_title 'Monitoring' %>
<div class="row">
    <div class="cell ratio1">
        <iframe src="https://rpm.newrelic.com/public/charts/cmla33a6L5d" width="100%" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div class="cell ratio1">
        <iframe src="https://rpm.newrelic.com/public/charts/3z50zm8Aasz" width="100%" height="300" scrolling="no" frameborder="no"></iframe>

    </div>
</div>
<div class="row">
    <div class="cell ratio1">
        <iframe src="https://rpm.newrelic.com/public/charts/aQSdwtqJpgq" width="100%" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div class="cell ratio1">
        <iframe src="https://rpm.newrelic.com/public/charts/3xuFZ3u8gGV" width="100%" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
</div>