<% content_for :head do %>
    <style>
    html{
      height: 100%;
    }
    body {
      min-height: 100%;
    }
    .page {
        background-color: rgb(240, 240, 240);
        padding-top: 15%;
    }
    p {
        padding-left: 15%;
        padding-right: 15%;
    }
    </style>
<% end %>
<h1>Désolé votre navigateur n'est pas supporté</h1>
<p class="cTxt">Sur ContentBird, nous utilisons les toutes dernières technologies du web, et votre navigateur ne les supporte pas. Nous serions ravis de vous compter parmi nous, alors voici quelques liens pour mettre à jour votre navigateur :</p>
<ul class="cTxt">
    <li><a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a></li>
    <li><a href="http://google.com/chrome" target="_blank">Chrome</a></li>
    <li><a href="http://support.apple.com/downloads/#safari" target="_blank">Safari</a></li>
    <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a></li>
</ul>
