<section>
    <article class="box narrow">
        <header class="box-hd">
            <h1>Terms of service</h1>
        </header>
        <p><strong>This Agreement was last modified on February 5, 2014.</strong></p>

        <p>
            Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using http://www.contentbird.com, http://www.contentbird.me or http://www.cbird.me ("the Site") operated by ContentBird ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site.
        </p>

        <p>
            By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms and Conditions.
        </p>

        <h2>Intellectual Property</h2>
        <p>
            The Site and its original content, features and functionality are owned by ContentBird and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws. Content you store on ContentBird stays your property.
        </p>

        <h2>Responsibility</h2>
        <p>
            You are sole responsible for the use you make of the Site, in particular for all data, content, information you store on the Site, wether this data is available to the public on the Site or was forwarded to a third party by email or simply stored in your personnal storage on the Site.
            <br />
            You acknowledge that ContentBird does not control, modify or moderate beforehand the content made available to the public through the Site and that we have no obligation to monitor the data and content users store and/or broadcast through the Site. Thus ContentBird has no obligation to remove a content that does not appear to be illegal.
            <br />
            ContentBird's liability can not be engaged in any way in case of innacurate, illegal, or inadequate information provided by users by any means, or in case the use of this information provided by a user has lead to damages.
            <br />
            The user is the only one responsible regarding ContentBird and any third party, for any direct or indirect damages of any kind, caused by a piece of information ou any content transmitted or published by the user using the Site, and for any violation of the present terms.
        </p>

        <h2>Termination</h2>
        <p>
            We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
        </p>

        <h2>Links To Other Sites</h2>
        <p>
            Our Site may contain links to third-party sites that are not owned or controlled by ContentBird.
            <br />
            ContentBird has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services.
            <br />
             We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.
        </p>

        <h2>Governing Law</h2>
        <p>
            This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of France, without giving effect to any principles of conflicts of law.
        </p>

        <h2>Changes To This Agreement</h2>
        <p>
            We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms and Conditions
        </p>

        <p>
            Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.
        </p>

        <p>
            <strong>Contact Us</strong><br />
            If you have any questions about this Agreement, please contact us at <a href="mailto:contact@contentbird.com">contact@contentbird.com</a>.
        </p>
    </article>
</section>