<section>
    <article class="box narrow">
        <header class="box-hd">
            <h1>Conditions d'utilisation</h1>
        </header>
        <p><strong>Dernière modification du document le 5 février 2014.</strong></p>

        <p>
            Merci de prendre connaissance des présentes conditions d'utilisation avant d'utiliser http://www.contentbird.com, http://www.contentbird.me ou http://www.cbird.me ("le Site", "notre service") exploité par ContentBird ("nous", "notre"). Ce document définit les termes légaux et les conditions d'utilisation du Site.
        </p>

        <p>
            En accédant au Site, et en en faisant usage d'une manière, incluant mais pas limité à, la navigation sur le Site, l'inscription, la saisie de contenu textuel ou autre, vous acceptez de respecter les présentes conditions.
        </p>

        <h2>Propriété intellectuelle</h2>
        <p>
            Le Site, son contenu original et ses fonctionnalités sont la propriété de ContentBird et sont protégés par les lois internationales de copyright, de marque déposée, de brevet et autres dispositifs de propriété intellectuelle ou autre droit de propriété. Les données que vous stockez sur ContentBird, en revanche sont votre propriété.
        </p>

        <h2>Responsabilité</h2>
        <p>
            Vous êtes seul responsable de l'utilisation que vous faites du Site, en particulier de toutes données et informations que vous aurez mis en ligne ainsi que de tout contenu fourni par vous, que ces données soient accessibles ou transmis au public via le Site ou qu'elles aient été transmises à un tiers par courrier électronique ou encore qu'elles soient stockées sur votre espace personnel au sein du Site.
            <br />
            Vous reconnaissez que ContentBird n'exerce pas de contrôle a priori sur les contenus et données transmis au public via le Site et que nous n'avons pas d'obligation générale de surveillance des données ou contenus des utilisateurs stockés et diffusés via le Site. Ainsi ContentBird n'a pas d'obligation de suppression d'un contenu ne paraissant pas illicite.
            <br />
            La responsabilité de ContentBird ne peut en aucun être retenue en cas d'inexactitude, illicéité, ou inadéquation des informations fournies par l'utilisateur par tout biais ou en cas de dommages consécutifs à l'utilisation de ces informations fournies par un utilisateur.
            <br />
            L'utilisateur est seul responsable à l'égard de ContentBird, et le cas échéant de tout tiers, de tous dommages directs ou indirects, de quelque nature que ce soit, causé par une information ou tout autre élément de contenu communiqué, transmis ou diffusé par l'Utilisateur dans le cadre de l'utilisation du Site, ainsi que pour tout manquement aux présentes conditions d'utilisation.
        </p>

        <h2>Révocation</h2>
        <p>
            En cas de non respect des présentes conditions, nous sommes en mesure de révoquer votre accès au Site, en supprimant votre compte sans obligation de vous prévenir au préalable. Cela entrainera la destruction de toutes les données chargées par vous sur ContentBird. Les aspects du présent accord qui, par leur nature, survivrait à la cessation de votre activité, comme le droit de propriété intellectuelle, d'indemnité, ou de limite de responsabilité, survivent à cette révocation.
        </p>

        <h2>Liens vers d'autres sites</h2>
        <p>
            Notre Site peut contenir et afficher des liens vers d'autres sites qui ne sont pas la propriété ou même exploités par ContentBird.
            <br />
            ContentBird n'a aucun contrôle et n'endosse aucune responsabilité concernant le contenu, la gestion de la vie privée ou de la propriété intellectuelle de ces sites ou services tiers.
            <br />
            Nous vous recommandons fortement de lire les conditions d'utilisation des sites ou services tiers que vous utiliserez.
        </p>

        <h2>Juridiction</h2>
        <p>
            Les présentes conditions (ainsi que toute future règle, condition ou guide inclus par la suite) tombent sous la juridiction des lois françaises. Les litiges seront portés devant les tribunaux compétents.
        </p>

        <h2>Mise à jour des présentes conditions</h2>
        <p>
            Nous nous réservons le droit, à notre seule discrétion, de modifier ou remplacer tout ou partie des présentes conditions en publiant une nouvelle version de la présente page sur le Site. Votre utilisation de notre service après la mise à jour des présentes conditions entraine automatiquement votre acceptation des nouvelles conditions modifiées.
        </p>

        <p>
            Merci de revenir réguliérement consulter cette page pour suivre ses éventuelles mises à jour. Si vous êtes en désaccord avec un ou plusieurs des articles consignés ici, cessez immédiatement d'utiliser le Site ou de vous y connecter.
        </p>

        <p>
            <strong>Contactez-nous</strong><br />pour toute question concernant les présentes conditions d'utilisation, sur: <a href="mailto:contact@contentbird.com">contact@contentbird.com</a>.
        </p>
    </article>
</section>